<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Reddit Trend</title>
		<script src="../static/js/jquery.js"></script> <!-- for ajax -->
		<script src="../static/js/echarts.min.js"></script>
		<script src="../static/js/echarts.js"></script>
		<script src="
			https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js
		"></script>
		<link href="../static/css/main.css" rel="stylesheet" />
	</head>
	<body>
		<div id="toolkit"></div>
		<div id="user_bar"></div>
		<div id="time"></div>
		<div id="title"></div>
		<div id="today_sum">
			<div class="num">
				<h1></h1>
			</div>
			<div class="num">
				<h1></h1>
			</div>
			<div class="num">
				<h1></h1>
			</div>
			<div class="num">
				<h1></h1>
			</div>
			<div class="num">
				<h1></h1>
			</div>
			<div class="num">
				<h1></h1>
			</div>
			<div class="txt">
				<h2>New Post</h2>
			</div>
			<div class="txt">
				<h2>Comments</h2>
			</div>
			<div class="txt">
				<h2>Valence</h2>
			</div>
			<div class="txt">
				<h2>Arousal</h2>
			</div>
			<div class="txt">
				<h2>Ups</h2>
			</div>
			<div class="txt">
				<h2>Downs</h2>
			</div>
		</div>
		<div id="most_comment"></div>
		<div id="most_popular"></div>
		<div id="latest"></div>
		<div id="report_1" style="width:200px;height:200px;"></div>
		<div id="report_2"></div>
		<div id="report_3"></div>
		<div id="engagement" style="width:750px;height:280px;"></div>
		<div id="suicidal" style="width:750px;height:290px;"></div>
		<div id="wordcloud"></div>
		<div id="calendar" style="width:400px;height:285px;"></div>

		<script src="../static/js/controller.js"></script>
		<script src="../static/js/ec_engagement.js"></script>
		<script src="../static/js/suicidal.js"></script>
		<script src="../static/js/report1.js"></script>
		<script src="../static/js/calendar.js"></script>
	</body>
</html>
